<div class="product-name"><p class="text-center">Cisco Security Services</p></div>
<div class="register-main">

    <form class="form-horizontal" role="form">

        <div class="form-group">
            <label for="username" class="hidden col-sm-2 control-label">Username</label>

            <div class="col-sm-10">
                <input type="text" class="form-control" id="username" placeholder="Username">
            </div>
        </div>
        <div class="form-group">
            <label for="password" class="hidden col-sm-2 control-label">Password</label>

            <div class="col-sm-10">
                <input type="password" class="form-control" id="password" placeholder="Password">
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
                <button type="submit" class="btn btn-default">Register</button>
            </div>
        </div>
    </form>
</div>