<div id='listview-top-nav' role="banner" class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button data-target=".bs-navbar-collapse" data-toggle="collapse" type="button" class="navbar-toggle">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">SSP</a>
        </div>
        <nav role="navigation" class="collapse navbar-collapse bs-navbar-collapse">
            <ul class="nav navbar-nav">
                <li>
                    <a href="/bootstrap/components">Components</a>
                </li>
                <li>
                    <a href="/bootstrap/componentsjs">JavaScript</a>
                </li>
                <li class="active">
                    <a href="/listview">ListView</a>
                </li>
                <li>
                    <a href="/portal">PRSM Portal</a>
                </li>
            </ul>
        </nav>
    </div>
</div>